################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Senno.SmartContracts/v15
/packages/Neo.SmartContract.Framework.2.7.3
/Senno.SmartContracts.ICSC/.vs/Senno.SmartContracts.ICSC/v15
/Senno.SmartContracts.ICSC/bin/Debug
/Senno.SmartContracts.ICSC/obj/Debug
/Senno.SmartContracts.Token/bin/Debug
/Senno.SmartContracts.Token/obj/Debug
