################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/Senno.SmartContracts.ICSC/.vs
/Senno.SmartContracts.ICSC/bin
/Senno.SmartContracts.ICSC/obj
/Senno.SmartContracts.Token/bin
/Senno.SmartContracts.Token/obj
/Senno.SmartContracts.Common/bin
/Senno.SmartContracts.Common/obj
/Senno.SmartContracts.SADSC/bin
/Senno.SmartContracts.SADSC/obj
/Senno.SmartContracts.SMSC/bin
/Senno.SmartContracts.SMSC/obj
/Senno.SmartContracts.SPDSC/bin
/Senno.SmartContracts.SPDSC/obj
/Senno.SmartContracts.SRSC/bin
/Senno.SmartContracts.SRSC/obj
/NEO-Emulator/bin
/NEO-Emulator/obj
/Neo.Manager/bin
/Neo.Manager/obj
/Senno.Emulator.Tests/bin
/Senno.Emulator.Tests/obj
/Senno.Tests/bin
/Senno.Tests/obj
